input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

input[name="nav"]:checked + label {
    border: 2px solid #FFFFFF;
    padding-bottom: 5px;
}

.header__nav {
    display: flex;
    justify-content: center;
}

.header__nav label{
    cursor: pointer;
    margin: 0 10px;
    font-size: 1.4rem;
    padding: 1px;
}


/* selector design */
.selector {
    height: 1rem;
    width: 1rem;
    background-color: #FFF;
    /* border-left: #0000FF 5px solid;
    border-bottom: #0000FF 5px solid; */
    border-radius: 50%;
    filter: drop-shadow(10px -10px 6px #FF553390)
        drop-shadow(-10px 10px 6px #0000FF90);

    position: fixed;
    left: 50vw;
    right: 0;
    top: 80vh;
    bottom: 0;
    /* margin: auto; */

    z-index: -1;

    animation-name: selector;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-timing-function: linear;
}

@keyframes selector {
    0% {
        transform: rotate(0deg);
        filter: drop-shadow(10px -10px 6px #FF553390)
        drop-shadow(-10px 10px 6px #0000FF90);
    }
    25% {
        transform: rotate(180deg);
        filter: drop-shadow(-10px 10px 6px #FF553390)
        drop-shadow(10px -10px 6px #0000FF90);
    }
    50% {
        transform: rotate(270deg);
        filter: drop-shadow(-10px 10px 6px #FF553390)
        drop-shadow(10px -10px 6px #0000FF90);
    }
    100% {
        transform: rotate(360deg);
        filter: drop-shadow(10px -10px 6px #FF553390)
        drop-shadow(-10px 10px 6px #0000FF90);
    }
}
